<h1><%= @bookmark.url %></h1>
<div class="container">
    <%= simple_form_for [@topic, @bookmark] do |f| %>
        <%= f.input :url, label: "URL" %>
        <%= f.button :submit %>
    <% end %>
</div>
