<h2><%= @topic.title %></h2>
<div class="container">
    <% @bookmarks.each do |bookmark| %>
        <h4><%=link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %></h4>
    <% end %>
</div>
