<h2>App Description</h2>

<p>Visitors can create a free account and then have access to their user profile that will contain both their profile and the bookmarks.</p>
<p>The bookmarks can be created on site, emailed to the app, and shared with others through the provided email service.</p>

<h4>
    This app was created by David Waite<br>
</h4>
<h4>
    User stories were provided through the Bloc.io curriculum.
</h4>